extends layout 

block content 
    .w3-card-4 
        header.w3-container.w3-blue 
            h1 #{titulo}
        form.w3-container(method="POST")
            fieldset
                legend Dados do novo compositor
                label(for="id") ID
                input.w3-input.w3-round(type="text", name="id", required)
                label(for="nome") Nome
                input.w3-input.w3-round(type="text", name="nome", required)
                label(for="bio") Biografia 
                input.w3-input.w3-round(type="text", name="bio", required)
                label(for="dataNasc") Data de Nascimento
                input.w3-input.w3-round(type="text", name="dataNasc", required)
                label(for="dataObito") Data de Óbito
                input.w3-input.w3-round(type="text", name="dataObito", required)
                label(for="periodo") Período
                input.w3-input.w3-round(type="text", name="periodo", required)
            br
            button.w3-btn.w3-purple.w3-mb-2(type="submit") Registar novo compositor
        footer.w3-container.w3-blue
            h5 
                span [ 
                    a(href="/compositores") Voltar à lista de compositores
                span ]
