extends layout 

block content
    .w3-card-4
        header.w3-container.w3-blue
            h1 #{titulo} 
            a(href="/pessoas/add") Nova Pessoa
        .w3-container
            table.w3-table-all
                tr
                    th Nome 
                    th Ações
                each item in Pessoas
                    tr
                        td
                            a(href="/pessoas/" + item._id )= item.nome
                        td
                            span [
                                a(href="/pessoas/edit/" + item._id) Editar
                            span ] 
                            span [
                                a(href="/pessoas/delete/" + item._id) Apagar
                            span ]
        
        footer.w3-container.w3-blue
            h5 
                span [ 
                    a(href="/") Voltar à página inicial 
                span ]